<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <a href="/logout">Logout</a>

            <div id="card">
                <h2>Koszyk</h2>
                <table>
                    <tbody>
                    {% for movie in cart %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ movie.title }}</td>
                            <td>({{ movie.price }}) PLN</td>
                            <td><a href="/remove/{{ movie.id }}">Usuń</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td>Suma: {{ zl }} PLN</td>
                            <th>({{ euro }} EUR)</th>
                            <td><a href="/thank-you">Akceptuje</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="offer">
                <h2>Oferta</h2>
                <select id="categories">
                    <option value="/" {% if current_category == '' %}selected{% endif %}>Dowolny</option>
                    {% for category in categories %}
                        <option value="/category/{{ category }}" {% if category == current_category %}selected{% endif %}>{{ category }}</option>
                    {% endfor %}
                </select>
                <button onclick="redirect()">Szukaj</button>
                <table>
                    <tbody>
                    {% for movie in movies %}
                        <tr>
                            <td>{{ movie.title }} ({{ movie.category }})</td>
                            <td>({{ movie.year }}) reż. {{ movie.director }}, występują {{ movie.cast }} (<a href="/movie/{{ movie.id }}">Szczegóły</a>)</td>
                            <td><a href="/add/{{ movie.id }}">Dodaj do koszyka</a> Cena: {{ movie.price }} PLN</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
        {% block javascripts %}
        <script>
            function redirect() {
                var select = document.getElementById("categories");
                var url = select.options[select.selectedIndex].value;

                window.location.replace(url);
            }
        </script>
        {% endblock %}
    </body>
</html>
