<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <a href="/logout">Logout</a>

            <div id="cart">
                <h2>{{ movie.title }} ({{ movie.category }})</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                ({{ movie.year }}) reż. {{ movie.director }}, występują {{ movie.cast }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ movie.story }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a href="/">Powrót</a>
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
