<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block body %}
        <a href="/logout">Logout</a>

        <h1>Dziękujemy za zakup</h1>

        <a href="/">Powrót do sklepu</a>
    {% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
